In [1]:
# !pip install ipython-sql
%load_ext sql
%sql sqlite://

'Connected: @None'

In [2]:
%%sql 
CREATE TABLE friends (
   id INTEGER,
   name TEXT,
   birthday DATE
);
         
INSERT INTO friends (id, name, birthday) 
   VALUES (1, "Jane Doe", "1990-05-30");

INSERT INTO friends (id, name, birthday) 
   VALUES (2, "John Doe", "1990-01-30");

INSERT INTO friends (id, name, birthday) 
   VALUES (3, "Benjamin Bos", "1990-04-12");

UPDATE friends
   SET name = "Jane Smith"
   WHERE name = "Jane Doe";

ALTER TABLE friends 
   ADD COLUMN email TEXT; 

UPDATE friends
   SET email = "jane@codecademy.com"
   WHERE id = 1;

UPDATE friends
   SET email = "john@codecademy.com"
   WHERE id = 2;

UPDATE friends
   SET email = "benjamin@codecademy.com"
   WHERE id = 3;

DELETE FROM friends
   WHERE id = 1;
   
SELECT * 
   FROM friends;

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.

[(2, 'John Doe', '1990-01-30', 'john@codecademy.com'),
 (3, 'Benjamin Bos', '1990-04-12', 'benjamin@codecademy.com')]